/*FONT FAMILIES
<link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
font-family: 'Muli', sans-serif;*/
/*GLOBAL STYLES*/
body {
  font-family: 'Muli', sans-serif;
  background-color: #F2EAEA;
  color: #393E41; }

/*NAVIGATION*/
.container-fluid {
  background-color: white;
  border-bottom: 0.5px solid #C1B8B8;
  margin-bottom: 20px;
  width: 100%;
  padding: 0px; }
  .container-fluid .container {
    width: 700px; }
    .container-fluid .container .row nav .col-md-7 .camera {
      font-size: 16px;
      color: #393E41;
      margin-top: 13px;
      display: inline-block;
      float: left;
      margin-left: 5px;
      margin-right: 13px; }
    .container-fluid .container .row nav .col-md-7 h2 {
      font-family: 'Grand Hotel', cursive;
      font-size: 24px;
      border-left: 1px solid #C1B8B8;
      padding-left: 10px;
      color: #393E41;
      float: left;
      margin-top: 10px;
      padding-bottom: 0px; }
    .container-fluid .container .row nav .col-md-5 ul {
      font-size: 12px;
      margin-top: 15px;
      float: right; }
      .container-fluid .container .row nav .col-md-5 ul li {
        display: inline-block;
        margin-left: 40px; }
        .container-fluid .container .row nav .col-md-5 ul li a {
          color: #393E41; }

.col-md-3 .photoStream .like {
  font-size: 12px;
  text-align: right;
  margin-right: 17px;
  padding-top: -9px;
  margin-top: -15px; }

.col-md-3 .photoStream .heart {
  font-size: 12px;
  right: 16px;
  bottom: 10px;
  position: absolute;
  z-index: 2; }

.col-md-3 .photoStream img {
  background-color: #393E41;
  width: 204px;
  height: 165px;
  color: white;
  margin: 10px;
  position: relative; }

h4 {
  font-size: 12px;
  margin-top: -1px;
  position: absolute;
  margin-left: 18px; }

.imageDetail {
  width: 100%;
  background-color: #393E41;
  height: 500px;
  color: white; }

.title {
  font-size: 18px;
  margin-top: 12px;
  position: absolute;
  margin-left: -2px; }

.description {
  font-size: 12px;
  margin-top: 38px; }

.container.main {
  width: 1100px;
  padding-left: 100px;
  padding-right: 100px; }
  .container.main .col-md-12 {
    background-color: none; }
    .container.main .col-md-12 label {
      display: block;
      font-size: 12px;
      color: #393E41;
      margin-top: 20px;
      padding-left: 3px;
      margin-bottom: 1px; }
    .container.main .col-md-12 input {
      width: 100%; }
    .container.main .col-md-12 .description {
      height: 100px; }

textarea {
  width: 100%;
  border: none; }

button {
  color: #393E41;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
  border: none;
  border: 0.5px solid #C1B8B8;
  margin-top: 22px; }

footer {
  font-size: 10px;
  text-align: center;
  color: #393E41;
  margin-top: 200px; }
